.pr-item {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 4px 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.pr-item-header {
    max-width: calc(100% - 40px);
}

.pr-title {
    font-size: 16px;
    color: #333639;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pr-title a {
    color: #333639;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.pr-title a:hover {
    color: #0366d6;
    cursor: pointer;
    text-decoration: underline;
}

.pr-author {
    font-size: 12px;
    text-align: left;
    margin: 10px 0;
}

.pr-author a {
    color: #586069;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.pr-author a:hover {
    color: #0366d6;
    cursor: pointer;
    text-decoration: underline;
}

.pr-item-comment {
    display: flex;
    align-items: center;
}

.pr-comments {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #586069;
    margin-top: 4px;
}

.comment-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    fill: #586069;
}

.comment-amount {
    font-weight: 700;
}
