.pr-list {
    max-width: 1280px;
    margin: 0 auto;
    min-height: calc(100vh - 155px);
}

.pr-list-header {
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.pr-list-header input,
.pr-list-header select {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    max-width: 200px;
    margin-right: 10px;
}

.pr-list-header input:focus {
    outline: none;
    border-color: #0969da;
}

.pr-list-header select option {
    font-size: 14px;
    padding: 0 5px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
}

.pr-list-header>h3 {
    font-size: 20px;
    color: #333;
    margin: 16px;
}

.pr-list .blur {
    transition: all .2s ease-in-out;
    filter: blur(3px);
}

.pr-list ul {
    list-style: none;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    min-height: calc(100vh - 280px);
}

.pr-list li {
    border-radius: 6px;
}


@media (max-width: 768px) {
    .pr-list-header {
        flex-direction: column;
        justify-content: space-between;
    }
    .pr-list-header input,
    .pr-list-header select {
        height: 28px;
        width: 40%;
        margin: 0 5%;
    }

    .pr-list li {
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) {
    .pr-list li {
        flex: 0 0 calc(33.33% - 20px);
    }
}